openapi: 3.1.0
info:
  version: 1.0.0
  title: Stateset
  termsOfService: https://stateset.com/terms/
  contact:
    email: developers@stateset.com
    url: http://stateset.com/support
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://stateset.io/stateset_logo_8.png
  description: >
    This is the Stateset One API based on The OpenAPI Specification.

    # Introduction

    This API definition is intended to to be a good starting point for
    describing your API in [OpenAPI/Swagger
    format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).

    # OpenAPI Specification

    The goal of The OpenAPI Specification is to define a standard, language-agnostic interface to REST APIs which
    allows both humans and computers to discover and understand the capabilities
    of the service without access to source
    code, documentation, or through network traffic inspection. When properly
    defined via OpenAPI, a consumer can 
    understand and interact with the remote service with a minimal amount of
    implementation logic. Similar to what
    interfaces have done for lower-level programming, OpenAPI removes the
    guesswork in calling the service.

tags:
  - name: Accounts
    description: Operations related to accounts.
  - name: Bill Of Materials
    description: Operations related to bill of materials.
  - name: Bill Of Materials Line Items
    description: Operations related to bill of materials line items.
  - name: Cases
    description: Operations related to cases.
  - name: Contacts
    description: Operations related to contacts.
  - name: Customers
    description: Operations related to customers.
  - name: Cycle Counts
    description: Operations related to cycle counts.
  - name: Inventory Items
    description: Operations related to inventory items.
  - name: Manufacture Orders
    description: Operations related to manufacturing orders.
  - name: Manufacture Order Line Items
    description: Operations related to manufacturing order line items.
  - name: Messages
    description: Operations related to messages.
  - name: Notes
    description: Operations related to notes.
  - name: Packing Lists
    description: Operations related to packing lists.
  - name: Packing List Item
    description: Operations related to packing list items.
  - name: Picks
    description: Operations related to picks.
  - name: Pick Line Items
    description: Operations related to pick line items.
  - name: Returns
    description: Operations related to returns.
  - name: Return Line Items
    description: Operations related to return items.
  - name: Warranties
    description: Operations related to warranties.
  - name: Warranty Line Items
    description: Operations related to warranty items.
  - name: Work Orders
    description: Operations related to work orders.
  - name: Work Order Line Items
    description: Operations related to work order line items.

servers:
  - url: https://api.stateset.com/v1
    description: Production server
paths:
  /accounts:
    $ref: paths/accounts.yaml
  /accounts/{id}:
    $ref: paths/accounts.yaml
  /contacts:
    $ref: paths/contacts.yaml
  /contacts/{id}:
    $ref: paths/contacts_{id}.yaml
  /billofmaterials:
    $ref: paths/billofmaterials.yaml
  /billofmaterials/{id}:
    $ref: paths/billofmaterials_{id}.yaml
  /cases:
    $ref: paths/cases.yaml
  /customers:
    $ref: paths/customers.yaml
  /customers/{id}:
    $ref: paths/customers_{id}.yaml
  /cyclecounts:
    $ref: paths/cyclecounts.yaml
  /billofmaterialsitems:
    $ref: paths/billofmaterialslineitems.yaml
  /billofmaterialsitems/{id}:
    $ref: paths/billofmaterialslineitems_{id}.yaml
  /inventoryitems:
    $ref: paths/inventoryitems.yaml
  /inventoryitems/{id}:
    $ref: paths/inventoryitems_{id}.yaml
  /manufactureorders:
    $ref: paths/manufactureorders.yaml
  /manufactureorders/{id}:
    $ref: paths/manufactureorders_{id}.yaml
  /manufactureorderitems:
    $ref: paths/manufactureorderlineitems.yaml
  /manufactureorderitems/{id}:
    $ref: paths/manufactureorderlineitems_{id}.yaml
  /messages:
    $ref: paths/messages.yaml
  /messages/{id}:
    $ref: paths/messages_{id}.yaml
  /notes:
    $ref: paths/notes.yaml
  /notes/{id}:
    $ref: paths/notes_{id}.yaml
  /picks:
    $ref: paths/picks.yaml
  /picks/{id}:
    $ref: paths/picks_{id}.yaml
  /picklineitems/{id}:
    $ref: paths/picklineitems_{id}.yaml
  /picklineitems:
    $ref: paths/picklineitems.yaml
  /packinglists:
    $ref: paths/packinglists.yaml
  /packinglists/{id}:
    $ref: paths/packinglists_{id}.yaml
  /packinglistitems/{id}:
    $ref: paths/packinglistitems_{id}.yaml
  /packinglistitems:
    $ref: paths/packinglistitems.yaml
  /returns:
    $ref: paths/returns.yaml
  /returns/{id}:
    $ref: paths/returns_{id}.yaml
  /returnitems:
    $ref: paths/returnlineitems.yaml
  /returnitems/{id}:
    $ref: paths/returnlineitems_{id}.yaml
  /warranties:
    $ref: paths/warranties.yaml
  /warranties/{id}:
    $ref: paths/warranties_{id}.yaml
  /warrantyitems:
    $ref: paths/warrantylineitems.yaml
  /warrantyitems/{id}:
    $ref: paths/warrantylineitems_{id}.yaml
  /workorders:
    $ref: paths/workorders.yaml
  /workorders/{id}: 
    $ref: paths/workorders_{id}.yaml
  /workorderitems:
    $ref: paths/workorderlineitems.yaml
  /workorderitems/{id}:
    $ref: paths/workorderlineitems_{id}.yaml

components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://api.stateset.com/v1/oauth/dialog
          scopes:
            read:users: read users info
            write:users: modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic

